<div class="navbar-fixed">
	<nav class="white nav-extended" role="navigation">
    
		<div class="nav-wrapper container" style="margin-left: 30px !important; margin-top: 10px !important">
    
			<a id="logo-container" href="#!" class="brand-logo"><img src="images/main/logocabecalho.png" /></a>

 	</div>
	
		<div class="nav-content">
			<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>

			<ul class="right hide-on-med-and-down" style="margin-right: 160px !important">
				<li><a href="#" class="link" title="Empresa" style="background-color: white !important; color: #008C69">Empresa</a></li>
				<li><a href="#" class="link" title="Serviços" style="background-color: white !important; color: #008C69">Serviços</a></li>
				<li><a class="link btnTrabalheConosco" title="Trabalhe Conosco" data-activates="slide-out" style="background-color: white !important; color: #008C69">Trabalhe Conosco</a></li>
				<li><a href="#" class="link" title="Contato" style="background-color: white !important; color: #008C69">Contato</a></li>
			</ul>
			</br>
 			<span class="right" style="color: #0085B2 !important; margin-right: 10px; font-size: 12px;">Acesso ao Sistema</span>
			</br></br></br>
      			<a class="btn-floating btn-large halfway-fab waves-effect waves-light pulse" style="background-color: #008C69 !important" data-target="modal1" style="margin-right: 20px;">
        			<i class="material-icons right">send</i>
      			</a>
    		</div>
	</nav>
</div>

			<ul id="nav-mobile" class="side-nav">
				<li><a href="#">Empresa</a></li>
				<li><a href="#">Serviços</a></li>
				<li><a class="btnTrabalheConosco" data-activates="slide-out" style="cursor: pointer !important">Trabalhe Conosco</a></li>
				<li><a href="#">Contato</a></li>
			</ul>



<ul id="slide-out" class="side-nav">
    <li>
	<div class="userView">
      		<div class="background"></div>
      		<a href="#!user"></a>
      		<a href="#!name"><span class="white-text name">John Doe</span></a>
      		<a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
    	</div>
    </li>
    <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
    <li><a href="#!">Second Link</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Subheader</a></li>
    <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
    <li>
	<a class=" waves-effect waves-light teal z-depth-3 right" data-target="modal1">
 		<i class="material-icons right">send</i>
      	</a>
    </li>
</ul>
<a href="#" data-activates="slide-out" class="button-collapse1"><i class="material-icons">menu</i></a>


<div id="modal1" class="modal">
	<div class="modal-content">
      		<h4>Modal Header</h4>
      		<p>A bunch of text</p>
    	</div>
    	<div class="modal-footer">
      		<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    	</div>
</div>



